extends /layouts/application
block content
  header
    h1='How Computers Work'
    img(src='/assets/images/human.png', id='human')
  - var n = 0
  ul(class='inputs')
    while n < 200
      li(class='input-#{ n++ }')
  footer
    div(class='computer')
      div(class='monitor')
        - var i = 0
        ul(class='display')
          while i < 221
            li(class='pixel-#{ i++ }')
      div(class='keyboard')
        - var k = 0
          ul(class='keys')
            while k < 39
              li(class='key-#{ k++ }')
