@include keyframes(display) {
  to {
    opacity: 1;
  }
}

@mixin display-pixel($interval) {
  @include animation-name(display);
  @include animation-fill-mode(forwards);
  @include animation-delay(#{$interval + 5}s);
}

div.computer {
  width: 100px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  bottom: 100px;

  div.monitor {
    width: 200px;
    height: 150px;
    background: #000;
    position: relative;
    @include border-radius(5px);

    ul.display {
      border: 2px solid #fff;
      width: 175px;
      height: 125px;
      position: absolute;
      top: 10px;
      left: 10px;
      overflow: hidden;

      li {
        width: 10px;
        height: 10px;
        background-color: rgb(random(256)-1, random(256)-1, random(256)-1);
        float: left;
        opacity: 0;

        @for $i from 1 through 221 {
          &.pixel-#{$i} {
            @include display-pixel(random());
            background-color: rgb(random(256)-1, random(256)-1, random(256)-1);
          }
        }
      }
    }
  }

  div.keyboard {
    width: 185px;
    height: 45px;
    background: #000;
    margin-top: 3px;
    margin-left: -8px;
    padding: 5px 5px 5px 8px;
    @include border-radius(5px);
    @include transform(skew(-20deg, 0));

    ul.keys {
      li {
        width: 8px;
        height: 8px;
        margin: 3px;
        display: block;
        float: left;
        background: #fff;
      }
    }
  }
}
