@include keyframes(drop) {
  to {
    margin-top: 100%;
  }
}

@mixin drop-fall() {
  @include animation(drop 10s linear 1);
}

ul.inputs {
  margin: -50px 53%;
  width: 40px;
  height: 800px;
  position: relative;
  z-index: -100;
  @include drop-fall();

  li {
    position: absolute;
    width: 10px;
    height: 10px;

    @for $i from 1 through 200 {
      &.input-#{$i} {
        top: -#{random(800)}px;
        background-color: rgb(random(256)-1, random(256)-1, random(256)-1);
        left: #{random(50)}px;
      }
    }
  }
}
