@import 'base';
@import 'components/components';

* {
  margin: 0;
  padding: 0;
}

body {
  max-height: 100%;
  overflow: hidden;
}

ul, li {
  list-style-type: none;
}

h1, small {
  display: none;
}

header {
  background: #fff;
  display: block;
  height: 150px;
  width: 100%;
  position: absolute;
  top: 0;
}

footer {
  background: #fff;
  display: block;
  height: 250px;
  width: 100%;
  position: absolute;
  bottom: -1px;
}
